@model IEnumerable<IdentitySample.Models.ApplicationUser>

    <section class="section bg-light py-5  bottom-slant-gray">

        <div class="clearfix mb-5 pb-5 ">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Usuarios de Fonda La Pila</h2>

                        <p>
                            @Html.ActionLink("Crear Nuevo", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>

                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @*   @Html.ActionLink("Editar", "Edit", new { id = item.Id , new { @class = "btn btn-otline-warning btn-sm" }) |*@
                                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-otline-info btn-sm" }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-otline-danger btn-sm" })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

