<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FONDA LA PILA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/owl.carousel.min.css")
    @Styles.Render("~/Content/aos.css")

    @Styles.Render("~/Content/magnific-popup.css")

    @Styles.Render("~/fonts/ionicons/css/ionicons.min.css")
    @Styles.Render("~/fonts/fontawesome/css/font-awesome.min.css")
    @Styles.Render("~/fonts/flaticon/font/flaticon.css")

    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/estiloscar.css")
    @Styles.Render("~/Content/estiloslog.css")

</head>
<body>
    @*
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    *@

    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand"  href='@Url.Action("Index", "Home")'>Fonda Pila</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">

                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href='@Url.Action("Index", "Home")'>Inicio</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href='@Url.Action("Categorias", "Home")'>Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("About", "Home")'>Conocenos</a>
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Cliente"))
                        {

                        /*    <ul class="navbar-nav ml-auto">
                                <li class="nav-item cta-btn">
                                    <a class="nav-link" href='@Url.Action("Login", "Acount")'>Login</a>
                                </li>
                            </ul>
                         */
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Carrito", "Home")'>Carrito</a>
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "RolesAdmin")'>RolesAdmin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "UsersAdmin")'>UsersAdmin</a>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <div class="slider-wrap">
        <section class="home-slider owl-carousel">

            <div class="slider-item" style="background-image: url(/img/banner1.jpg);">

                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-8 text-center col-sm-12 ">
                            <h1 data-aos="fade-up">LA MEJOR COCINA</h1>
                            <p class="mb-5" data-aos="fade-up" data-aos-delay="100"> Bienvenido.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url(/img/banner2.jpg);">
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-8 text-center col-sm-12 ">
                            <h1 data-aos="fade-up">FUNDETE EN NUESTROS SABORES</h1>
                            <p class="mb-5" data-aos="fade-up" data-aos-delay="100"> Bienvenido </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END slider -->
    </div>

    <div class="">
        @RenderBody()
        <hr />

        <footer class="site-footer" role="contentinfo">

            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4 mb-5">
                        <h3>Conocenos: </h3>
                        <p class="mb-5" style."text-align:justify"> Somos una fonda de comida de varidad. Preparamos: hamburguesas, tortas, enchiladas, papas a la francesa, flautas, entre otras cosas. Gracias por su preferencia. </p>

                    </div>
                    <div class="col-md-5 mb-5">
                        <div class="mb-5">
                            <h3>Horarios: </h3>
                            <p><strong class="d-block font-weight-normal text-black">Lunes a Domingo</strong> 2:00 PM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3>Contactanos</h3>
                            <ul class="list-unstyled footer-link">
                                <li class="d-block">
                                    <span class="d-block text-black">Dirección: </span>
                                    <span> Monte de las cruces #30, La Lila, Cuajimalpa, CDMX.</span>
                                </li>
                                <li class="d-block"><span class="d-block text-black">Celulares:</span><span>+52 5531113083, +52 5540044754</span></li>
                                <li class="d-block"><span class="d-block text-black">Correo Electronico:</span><span>FondaLaPila@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h3>Regresa al Inicio</h3>
                        <ul class="list-unstyled footer-link">
                            <li><a href="#">Inicio</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-md-center text-left">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Fonda la Pila | Desarrollado por Luis Garcia Flores </>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16" /></svg></div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/aos.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>

    <script src="~/Scripts/main.js"></script>

</body>
</html>
